* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.input-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box {
    width: calc(50% - 20px); /* Adjust width and margins */
    margin-bottom: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("background.png") no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

    .navigation a::after {
        content: '';
        position: absolute;
        left: 0%;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: white;
        border-radius: 5px;
        transform: scaleX(0);
        transition: transform .5s;
    }

    .navigation a:hover::after {
        transform: scaleX(1);
    }

.navigation .btnRegister-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

    .navigation .btnRegister-popup:hover {
        background: #fff;
        color: black;
    }

.wrapper {
    position: relative;
    width: 80%; /* Adjust the width */
    max-width: 600px; /* Set a maximum width */
    height: auto;
    padding: 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .wrapper .form-box {
        width: 100%;
        height: auto;
        padding: 40px;
        resize: both;
    }

.form-box h2 {
    font-size: 2em;
    color: aliceblue;
    text-align: center;
}

.input-box {
    position: relative;
    width: calc(100% - 40px); /* Adjust width to account for icon */
    height: 50px;
    border-bottom: 2px solid aliceblue;
    margin: 1em 0;
}

    .input-box label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        color: aliceblue;
        font-weight: 500;
        pointer-events: none;
        transition: .5s;
    }

    .input-box input:focus ~ label,
    .input-box input:valid ~ label {
        top: -5px;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        color: aliceblue;
        font-weight: 600;
        padding: 0 35px 0 5px;
    }

    .input-box .icon {
        position: absolute;
        right: 8px;
        font-size: 1.2em;
        color: aliceblue;
        line-height:  57px;
    }

.btn {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid aliceblue;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: aliceblue;
    font-weight: 500;
    transition: .5s;
}

    .btn:hover {
        background-color: aliceblue;
        color: black;
    }

.remember-forgot {
    font-size: .9em;
    color: aliceblue;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

    .remember-forgot label input {
        accent-color: aliceblue;
        margin-left: 3px;
    }

    .remember-forgot a {
        color: aliceblue;
        text-decoration: none;
    }

    .remember-forgot label {
        top: 50%;
        left: 5px;
        padding: 12px;
        font-size: 1em;
        color: aliceblue;
        font-weight: 500;
        text-align: center;
    }

    .remember-forgot a:hover {
        text-decoration: underline;
    }

.login-register {
    font-size: .9em;
    color: aliceblue;
    text-align: center;
    font-weight: 500;
    margin: 4px 0;
    margin-top: -10px;
}

    .login-register p a {
        color: aliceblue;
        text-decoration: none;
        font-weight: 600;
    }

        .login-register p a:hover {
            text-decoration: underline;
        }

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display:   block;
}
